
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- HERO SECTION -->
		<div id="top" class="hero-unit hero-prelaunch fullscreen-image-bg clearfix">
			<div class="container">
				<div class="left">
					<img src="assets/iphone-screen.png" class="header-phone" alt="iPhone">
				</div>
				<div class="right">
					<!-- <img src="assets/levee-logo-05.png" class="logo" alt="Levee Logo"> -->
					<h1>LEVEE</h1>
					<h1><span class="sr-only">Zi</span><%= @tagline %></h1>
					<p class="lead"><%= @sub_tagline %> Only $<%= @amount %> per month.</p>
					<!-- <form class="newsletter-form" method="POST"> -->
					<%= form_tag({controller: "pages", action: "sign_up"}, method: "post", class: "newsletter-form") %>
						<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
						<%= tag(:input, :type => "hidden", :name => 'tagline', :value => @tagline) %>
						<%= tag(:input, :type => "hidden", :name => 'sub_tagline', :value => @sub_tagline) %>
						<div class="input-group">
							<i class="icon-email fa fa-envelope-o"></i><input type="email" class="form-control" name="email" placeholder="Email address">
							<span class="input-group-btn"><button class="btn sign-up-button" type="submit"><i class="fa fa-spinner fa-spin"></i><span>Sign Up</span></button></span>
						</div>
						<div class="alert"></div>
					<!-- </form> -->
					</div>
				</div>
			</div>
		</div>
		<!-- END HERO SECTION -->
	</div>
	<!-- END WRAPPER -->

	<!-- JAVASCRIPTS -->
	<script src="assets/jquery-2.1.1.min.js"></script>
	<!-- <script src="assets/zi-newsletter.js"></script> -->

